{
  "base": {
    "project": "${PROJECT}",
    "environment": "${ENVIRONMENT}",
    "comment": "${COMMENT}",
    "reportLink": "${REPORT_URL}",
    "language": "${LANGUAGE}",
    "allureFolder": "${ALLURE_FOLDER}",
    "enableChart": true
  },
  "telegram": {
    "token": "${TELEGRAM_BOT_TOKEN}",
    "chat": "${TELEGRAM_CHAT_ID}",
    "topic": "${TELEGRAM_TOPIC_ID}",
    "replyTo": ""
  }
}
